@model IEnumerable<Vehicle_Selling_Site.Models.HiredVehiclesTable>
@{
    ViewBag.Title = "Update an Order";
    Layout = "~/Views/Shared/Mobile_Layout.cshtml";
}

<div data-role="page">
    @*this page shows all orders and allows to choose one order to update*@
    <style>
        .Images {
            height: 200px;
            width: 300px;
        }
    </style>

    <div data-role="content">
        <h2>Update an Order</h2>

        @foreach (Vehicle_Selling_Site.Models.HiredVehiclesTable item in Model) //load each order sent from the controller and display its parameters:
        {
            <form method="post">
                <img class="Images" src="@item.Image" /> <br />
                <label>Name:</label> @item.HiredVehicleName <br />
                <label>Hired By:</label> @item.Hired_By_User <br />
                <label>Start of Hiring:</label> @item.Start_of_Hiring <br />
                <label>End of Hiring:</label> @item.End_of_Hiring <br />
                <label>Total Cost:</label> @item.Total_Cost <br />
                <label>Daily Cost:</label> @item.Daily_Cost  NIS <br />
                <label>Late Cost:</label> @item.Late_Cost NIS Per Day <br />
                <input type="hidden" name="VehicleName" value="@item.HiredVehicleName" /> @*used to send the ordered vehicle's name to the controller*@
                <input type="submit" class="ui-btn" value="Update" />
            </form>
            <hr />
        }
    </div>
</div>