@model IEnumerable<Vehicle_Selling_Site.Models.HiredVehiclesTable>
@{
    ViewBag.Title = "Remove an Order";
    Layout = "~/Views/Shared/Mobile_Layout.cshtml";
}

<div data-role="page">
    @*orders can be removed in this page*@
    <style>
        .Images {
            height: 200px;
            width: 300px;
        }
    </style>

    <div data-role="content">
        <h2>Remove an Order</h2>

        @foreach (Vehicle_Selling_Site.Models.HiredVehiclesTable item in Model) //load each order sent from the controller and display its parameters:
        {
            <form method="post">
                <img class="Images" src="@item.Image" /> <br />
                <label>Name:</label> @item.HiredVehicleName <br />
                <label>Hired By:</label> @item.Hired_By_User <br />
                <label>Start of Hiring:</label> @item.Start_of_Hiring <br />
                <label>End of Hiring:</label> @item.End_of_Hiring <br />
                <label>Total Cost:</label> @item.Total_Cost <br />
                <input type="hidden" name="VehicleName" value="@item.HiredVehicleName" /> @*used to send the Hired Vehicle's Name to the controller*@
                <input type="submit" class="ui-btn" value="Remove" />
            </form>
            <hr />
        }
        Note: upon removing an order, the ordered vehicle will be returned to the garage automatically
    </div>
</div>